USE [VERONASAS]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CabeceraFE2]    Script Date: 8/09/2025 5:24:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  FUNCTION [dbo].[fn_CabeceraFE2]() 
RETURNS @tmp_Cabeza TABLE 
( 
PREFIJO varchar(4), 
Folio int, 
FECHA datetime, 
FECHAVTO datetime, 
NIT varchar(20), 
CLIENTE varchar(100), 
EXENTO numeric(20,2), 
VALORBRUTO numeric(20,2), 
VALORIVA numeric(20,2), 
VALIMPOCONSU numeric(20,4), 
VALORICA numeric(20,4), 
RETENCIONFUENTE numeric(20,4), 
RETENCIONIVA numeric(20,4), 
TOTALFACTURA numeric(20,2), 
TASADESCUENTO numeric(8,2), 
VALORDESCUENTO numeric(20,4), 
ACTIVIDAD varchar(30), 
DIRECCION varchar(80), 
TELEFONO varchar(20), 
CELULAR varchar(20), 
CIUDAD varchar(40), 
DEPARTAMENTO varchar(40), 
PAIS varchar(40), 
CONTACTO varchar(40), 
TASAIVA numeric(8,2), 
TASAICA numeric(8,2), 
TASARETENFUENTE numeric(8,2), 
CONPAGO varchar(40), 
CREFEDOC varchar(20), 
CREFETD varchar(10), 
CREFDETA varchar(80), 
CFECREFD varchar(10), 
CREFERE2 varchar(80), 
REFDTE varchar(80), 
CODREF varchar(80), 
EMAILCLIENTE varchar(200), 
NOTAS varchar(500), 
VENDEDOR varchar(40), 
ORDENCOMPRA varchar(40), 
ORDENPEDIDO varchar(40), 
CCOSTO varchar(15), 
SUBCOSTO varchar(15), 
REMISION varchar(40), 
CONTRATO varchar(100), 
TIPMONEDA varchar(3), 
TRM numeric(20,4), 
DIGITADOR varchar(40), 
RUTAVISUAL varchar(40), 
CXC varchar(15), 
SEGUROS numeric(20,2), 
FLETES numeric(20,2), 
USDVALORBRUTO numeric(20,4), 
USDVALORIVA numeric(20,4), 
USDVALIMPOCONSU numeric(20,4), 
USDVALORICA numeric(20,4), 
USDRETENCIONFUENTE numeric(20,4), 
USDRETENCIONIVA numeric(20,4), 
USDTOTALFACTURA numeric(20,4), 
USDSEGUROS numeric(20,4), 
USDFLETES numeric(20,4), 
DIRECCIONDESDPACHO varchar(100), 
TITTOTAL varchar(30), 
TITFLETES varchar(30), 
TITSEGUROS varchar(30), 
EMBARCADOR varchar(30), 
MODOTRANSPORTE varchar(30), 
PUERTOEMBARQUE varchar(30), 
PAISORIGEN varchar(30), 
PUERTODESTINO varchar(30), 
PAISDESTNO varchar(30), 
OTROS varchar(30), 
NOTA2 varchar(30), 
CODPAIS varchar(30), 
CODPOSTAL varchar(30), 
unidaddtefacil CHAR(250), 
codigoempresa CHAR(250), 
CODALTERNO CHAR(15), 
REGSIMP numeric(15,2), 
IDADJUNTOS CHAR(50), 
ORIGEN CHAR(5), 
CARTERA NUMERIC(15,2), 
ZONAPUNTO VARCHAR(80), 
SALDOANT NUMERIC(17,2), 
CONECTOR CHAR(50), 
ENVIADOA VARCHAR(60), 
TRANSPORTA VARCHAR(60), 
PLAZO NUMERIC(3,0), 
CODVEN CHAR(15), 
D1FECHA1 NUMERIC(6,2), 
DESPP NUMERIC(17,2), 
D2FECHA2 NUMERIC(6,2), 
DESPP2 NUMERIC(17,2), 
ZBRUTO NUMERIC(17,2), 
ZIVABRUTO NUMERIC(17,2), 
ZDESCUENTO NUMERIC(17,2), 
ZRETICA NUMERIC(17,2), 
ZRETIVA NUMERIC(17,2), 
CODMONEDA CHAR(5), 
TIPOMONEDA CHAR(1), 
TCAMBIOMM NUMERIC(17,2),
IDCLASE CHAR(3), 
CODCIUDAD CHAR(10), 
RESPFISCAL CHAR(20),
DESFECH1 datetime,
VALFECH1 numeric(20,2),
DESFECH2 datetime,
VALFECH2 numeric(20,2),
DESFECH3 datetime,
VALFECH3 numeric(20,2),
DESFECH4 datetime,
VALFECH4 numeric(20,2),
DESFECH5 datetime,
VALFECH5 numeric(20,2),
DESCPP numeric(20,2),
FECHAPP datetime,
VLRDESCPP numeric(20,2)
)  
-- WITH ENCRYPTION  
AS 
BEGIN 
    DECLARE @PREFIJO varchar(4),@FOLIO int,@FECHA datetime,@FECHAVTO datetime,@NIT varchar(20),@CLIENTE varchar(100),@EXENTO numeric(20,2),@VALORBRUTO numeric(20,2) 
    DECLARE @VALORIVA numeric(20,2),@VALIMPOCONSU numeric(20,4),@VALORICA numeric(20,4),@RETENCIONFUENTE numeric(20,4),@RETENCIONIVA numeric(20,4),@CONECTOR CHAR(50) 
    DECLARE @TOTALFACTURA numeric(20,2),@TASADESCUENTO numeric(8,2),@VALORDESCUENTO numeric(20,4),@ACTIVIDAD varchar(30),@DIRECCION varchar(80),@TELEFONO varchar(20) 
    DECLARE @CELULAR varchar(20),@CIUDAD varchar(40),@DEPARTAMENTO varchar(40),@PAIS varchar(40),@CONTACTO varchar(40),@TASAIVA numeric(8,2),@TASAICA numeric(8,2) 
    DECLARE @TASARETENFUENTE numeric(8,2),@CONPAGO varchar(40),@CREFEDOC varchar(20),@CREFETD varchar(10),@CREFDETA varchar(80),@CFECREFD varchar(10),@CREFERE2 varchar(80) 
    DECLARE @REFDTE varchar(80),@CODREF varchar(80),@EMAILCLIENTE varchar(200),@NOTAS varchar(500),@VENDEDOR varchar(40),@ORDENCOMPRA varchar(40),@ORDENPEDIDO varchar(40) 
    DECLARE @CCOSTO varchar(15),@SUBCOSTO varchar(15),@REMISION varchar(40),@CONTRATO varchar(100),@TIPMONEDA varchar(3),@TRM numeric(20,4),@DIGITADOR varchar(40),@SALDO NUMERIC(17,2) 
    DECLARE @RUTAVISUAL varchar(40),@CXC varchar(15),@SEGUROS numeric(20,2),@FLETES numeric(20,2),@USDVALORBRUTO numeric(20,4),@USDVALORIVA numeric(20,4),@REGSIMP numeric(15,2)
    DECLARE @USDVALIMPOCONSU numeric(20,4),@USDVALORICA numeric(20,4),@USDRETENCIONFUENTE numeric(20,4),@USDRETENCIONIVA numeric(20,4),@USDTOTALFACTURA numeric(20,4) 
    DECLARE @USDSEGUROS numeric(20,4),@USDFLETES numeric(20,4),@DIRECCIONDESDPACHO varchar(100),@TITTOTAL varchar(30),@TITFLETES varchar(30),@TITSEGUROS varchar(30),@VER_SQL INT 
    DECLARE @EMBARCADOR varchar(30),@MODOTRANSPORTE varchar(30),@PUERTOEMBARQUE varchar(30),@PAISORIGEN varchar(30),@PUERTODESTINO varchar(30),@PAISDESTNO varchar(30)
    DECLARE @VERSION_SQL VARCHAR(10),@OTROS varchar(30),@NOTA2 varchar(30),@CODPAIS varchar(30),@CODPOSTAL varchar(30),@CODCIIU CHAR(5),@DCTO CHAR(10),@EXISTE BIT
    DECLARE @CODALTERNO CHAR(15),@ZONAPUNTO VARCHAR(80),@unidaddtefacil CHAR(250),@codigoempresa CHAR(250),@NIT1 CHAR(15),@SUCUR BIT,@ORIGEN CHAR(5),@IDADJUNTOS CHAR(50)
    DECLARE @CODC CHAR(5),@TOTCART NUMERIC(15,2),@CODZ CHAR(5),@NOMZ VARCHAR(60),@ENVIADOA VARCHAR(60),@TRANSPORTA VARCHAR(60),@XDESCUENTO numeric(20,2),@PLAZO NUMERIC(3,0)
    DECLARE @D1FECHA1 NUMERIC(6,2),@CODVEN CHAR(15),@SUBTDPP NUMERIC(17,2),@D2FECHA2 NUMERIC(6,2),@SUBTDPP2 NUMERIC(17,2),@ZBRUTO NUMERIC(17,2),@ZIVABRUTO NUMERIC(17,2)
    DECLARE @ZDESCUENTO NUMERIC(17,2),@ZRETICA NUMERIC(17,2),@ZRETIVA NUMERIC(17,2),@CODMONEDA CHAR(5),@TIPOMONEDA CHAR(1),@TCAMBIOMM NUMERIC(17,2),@IDCLASE CHAR(3),@CODCIUDAD CHAR(10)
    DECLARE @RESPFISCAL CHAR(20),@NOMONEDA CHAR(5),@DESFECH1 datetime,@DESFECH2 datetime,@DESFECH3 datetime,@DESFECH4 datetime,@DESFECH5 datetime,@VALFECH1 numeric(20,2),@VALFECH2 numeric(20,2)
	DECLARE @VALFECH3 numeric(20,2),@VALFECH4 numeric(20,2),@VALFECH5 numeric(20,2),@TVEN varchar(50),@LPRE varchar(50),@FECH1 datetime,@DESC1 numeric(10,2),@FECH2 datetime,@DESC2 numeric(10,2)
	DECLARE @FECH3 datetime,@DESC3 numeric(10,2),@FECH4 datetime,@DESC4 numeric(10,2),@FECH5 datetime,@DESC5 numeric(10,2),@DESCPP numeric(20,2),@FECHAPP datetime,@VLRDESCPP numeric(20,2),@mediodepago1  varchar(50),@mediodepago2  varchar(50)
	DECLARE @cuadre1  varchar(50),@cuadre2  varchar(50)
	DECLARE @FECHAPROCESO DATETIME

		
    SET @FECHAPROCESO=GETDATE()-30

	DECLARE CURVCOMER CURSOR FOR 
    SELECT tipodcto,nrodcto,fecha,fecha1,nit,CliNombre,0,ABS(Bruto),ABS(Ivabruto),0 as Valconsumo,ABS(vretica),ABS(vlretfte),ABS(vretiva),ABS(Neto),0 as TasaDscto,ABS(Descuento),'' as Actividad, 
        direccion,tel,CdCiiu,contacto,pGIva,NombreMediopag,'' as Crefedoc,'' as Crefetd,'' as Crefdeta,'' as Cfecrefd,'' as CRefere2,'' as Refdte,'' as Codref, 
        Nota,VenNombre,'' as Orden_Compra,nomcc,'' as Subcosto,remision,'' as Contrato,TipoMoneda,tcambio,passwordin,'' as Ruta_Visual,codigocta,0 as Seguros, 
        0 as Fletes,ABS(XBRUTO),ABS(XIVABRUTO),0 as USDValImpoconsu,XRETICA,XVLRETFTE,XRETIVA, 
        0 as USDTotFactura,0 as USDSeguros,0 as USDFletes,direccion,'' as TITTOTAL,'' as TITFLETES,'' as TITSEGUROS,'' as EMBARCADOR, 
        '' as MODTRANSPORTE,'' as PUERTOEMBARQUE,'' as PAISORIGEN,'' as PUERTODESTINO,'' as PAISDESTNO,'' as Otros,'' as Nota2,PLAZO,D1FECHA1,CODVEN,D2FECHA2,XDESCUENTO 
        FROM vComerFac 
        WHERE ORIGEN='FAC' AND TIPODCTO IN(/*'FA',*/'FE','NC','ND','01','02','03','04','05','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','24')  AND fecha>@FECHAPROCESO --  YEAR(FECHA)=YEAR(GETDATE()) AND AND MONTH(FECHA)=MONTH(GETDATE())
	--	and nrodcto='17'
	OPEN CURVCOMER 
    FETCH CURVCOMER INTO @PREFIJO,@DCTO,@FECHA,@FECHAVTO,@NIT,@CLIENTE,@EXENTO,@VALORBRUTO,@VALORIVA,@VALIMPOCONSU,@VALORICA,@RETENCIONFUENTE,@RETENCIONIVA,@TOTALFACTURA, 
    @TASADESCUENTO,@VALORDESCUENTO,@ACTIVIDAD,@DIRECCION,@TELEFONO,@CODCIIU,@CONTACTO,@TASAIVA,@CONPAGO,@CREFEDOC,@CREFETD,@CREFDETA,@CFECREFD,@CREFERE2,@REFDTE,@CODREF, 
    @NOTAS,@VENDEDOR,@ORDENCOMPRA,@CCOSTO,@SUBCOSTO,@REMISION,@CONTRATO,@TIPMONEDA,@TRM,@DIGITADOR,@RUTAVISUAL,@CXC,@SEGUROS,@FLETES,@USDVALORBRUTO, 
    @USDVALORIVA,@USDVALIMPOCONSU,@USDVALORICA,@USDRETENCIONFUENTE,@USDRETENCIONIVA,@USDTOTALFACTURA,@USDSEGUROS,@USDFLETES,@DIRECCIONDESDPACHO,@TITTOTAL,@TITFLETES, 
    @TITSEGUROS,@EMBARCADOR,@MODOTRANSPORTE,@PUERTOEMBARQUE,@PAISORIGEN,@PUERTODESTINO,@PAISDESTNO,@OTROS,@NOTA2,@PLAZO,@D1FECHA1,@CODVEN,@D2FECHA2,@XDESCUENTO  
    WHILE @@FETCH_STATUS = 0 
        BEGIN 
            SELECT @EMAILCLIENTE=EMAIL,@CODPAIS=PAIS,@CODALTERNO=CODALTERNO,@REGSIMP=REGSIMP,@SUCUR=SUCURSAL,@CODC=CIUDAD,@TELEFONO=TEL1,@CELULAR=TEL2,@CODPOSTAL=CODPOSTAL,@CODZ=ZONA FROM MTPROCLI WHERE NIT=@NIT
            SELECT @DEPARTAMENTO=NOMDPTO FROM MTCDDAN WHERE CODIGO=@CODCIIU 
            SELECT @CIUDAD=NOMBRE FROM CIUDAD WHERE CODCIUDAD=@CODC 
            SELECT @TIPMONEDA=DV_ISO4217 FROM MTPAISES WHERE CODIGO=@CODPAIS
            SELECT @PAIS=NOMBRE FROM MTPAISES WHERE CODIGO=@CODPAIS 
            SELECT @CODPAIS=ISO_3166_1 FROM MTPAISES WHERE CODIGO=@CODPAIS 
            SELECT @NOMZ=NOMBRE FROM ZONA WHERE CODZONA=@CODZ 
            SET @ZONAPUNTO=CAST(@CODZ AS VARCHAR) + CAST(' ' AS VARCHAR) + CAST(@NOMZ AS VARCHAR) 
            SET @CELULAR=ISNULL(@CELULAR,'') 
            SET @CODPOSTAL=ISNULL(@CODPOSTAL,'') 
            SET @CIUDAD=ISNULL(@CIUDAD,'') 
            SET @DEPARTAMENTO=ISNULL(@DEPARTAMENTO,'') 
			SET @contrato=RTRIM(@CIUDAD)+' \'+RTRIM(@TELEFONO)
			SET @CREFDETA=@CLIENTE
			
            SELECT @TASAICA=PORICA,@TASARETENFUENTE=PORETE,@ORDENPEDIDO=NPEDIDO FROM MVTRADE WHERE ORIGEN='FAC' AND TIPODCTO=@PREFIJO AND NRODCTO=@DCTO 
            SELECT @IDADJUNTOS=IDADJUNTOS,@TASADESCUENTO=DSCTOCOM,@CIUDAD=CIUDADCLI,@DIRECCION=DIR,@ENVIADOA=ENVIADOA,@ORDENCOMPRA=ORDEN, 
                @TRANSPORTA=TRANSPORTA,@ZBRUTO=ZBRUTO,@ZIVABRUTO=ZIVABRUTO,@ZDESCUENTO=ZDESCUENTO,@ZRETICA=ZRETICA,@ZRETIVA=ZRETIVA,@CODMONEDA=CODMONEDA, 
            	@TIPOMONEDA=TIPOMONEDA,@TCAMBIOMM=TCAMBIOMM 
            	FROM TRADE WHERE ORIGEN='FAC' AND TIPODCTO=@PREFIJO AND NRODCTO=@DCTO 
			SET @CODMONEDA=@TIPMONEDA
            SET @unidaddtefacil = 'V:\DTECOLOMB2\EXE' 
            SELECT @codigoempresa ='VDS01'---'HA023'
            SELECT @CONECTOR = 'conectorofimados'
            SELECT @IDCLASE= CLASE FROM MTPROCLI WHERE NIT=@NIT
	    SELECT @CODCIUDAD= CDCIIU FROM MTPROCLI WHERE NIT=@NIT
		IF @CODCIUDAD='0'
			BEGIN
				SET @CODCIUDAD='11001'
			END
	    SELECT @DIRECCION= DIRECCION FROM MTPROCLI WHERE NIT=@NIT
            SET @RESPFISCAL= ' '
            SELECT @CREFETD=TIPODCTORE,@CREFEDOC=NUMFACTNC FROM MVTRADE WHERE ORIGEN='FAC' AND TIPODCTO=@PREFIJO AND NRODCTO=@DCTO 
            BEGIN 
                IF @SUCUR=1 
                    BEGIN 
                        SET @NIT1=@CODALTERNO 
                        SET @CODALTERNO=@NIT 
						SELECT @CLIENTE=NOMBRE FROM MTPROCLI WHERE NIT=@NIT1
				        SELECT @DIRECCION=DIRECCION,@telefono=tel1,@CODC=CIUDAD FROM MTPROCLI WHERE NIT=@NIT1
						SELECT @CIUDAD=NOMBRE FROM CIUDAD WHERE CODCIUDAD=@CODC
                    END 
                ELSE 
                    BEGIN 
                        SET @NIT1=@NIT 
                        SET @CODALTERNO='' 
                    END 
            END 
            BEGIN 
                IF @PAIS IS NULL 
                    BEGIN 
                        SET @PAIS='' 
                    END 
            END 
            BEGIN 
                IF @D1FECHA1>0 
                    BEGIN 
                        SET @SUBTDPP=ROUND(((@VALORBRUTO*@D1FECHA1)/100),0) 
                    END 
                ELSE 
                    BEGIN 
                        SET @SUBTDPP=0 
                    END 
            END 
            BEGIN 
            IF @D2FECHA2>0 
                    BEGIN 
                        SET @SUBTDPP2=ROUND(((@VALORBRUTO*@D2FECHA2)/100),0) 
                    END 
                ELSE 
                    BEGIN 
                        SET @SUBTDPP2=0 
                    END 
            END 
            SET @FOLIO=CONVERT(INT,@DCTO) 
            SET @TOTCART=ISNULL(@TOTCART,0) 
            SET @SALDO=ISNULL(@SALDO,0) 
            BEGIN 
                IF @VALORBRUTO < 0 
                    BEGIN 
                        SET @VALORBRUTO =ABS(@VALORBRUTO) 
                    END 
            END 
            BEGIN 
                IF @VALORIVA < 0 
                    BEGIN 
                        SET @VALORIVA =ABS(@VALORIVA) 
                    END 
            END 
            BEGIN 
            IF @USDVALORBRUTO>0 
                    BEGIN 
                        SET @USDTOTALFACTURA=@USDVALORBRUTO-@XDESCUENTO+@USDVALORIVA-@USDVALORICA-@USDRETENCIONFUENTE-@USDRETENCIONIVA 
                    END 
                ELSE 
                    BEGIN 
                        SET @USDTOTALFACTURA=0 
                    END 
            END 
            BEGIN 
            	IF @ZBRUTO<>0 
            		BEGIN 
            			SET @CODMONEDA='ANSI' 
            		END 
            END 
            BEGIN 
                IF @VALORIVA = 0 
                    BEGIN 
                        SET @EXENTO = @VALORBRUTO 
                    END 
            END 
            BEGIN 
                IF @VALORIVA = 0 
                    BEGIN 
                        SET @VALORBRUTO = 0
                    END 
            END 

			SELECT @ENVIADOA=COL_NOTARE FROM TRADEMAS WHERE ORIGEN='FAC' AND TIPODCTO=@PREFIJO AND NRODCTO=@DCTO 
			SELECT @TRANSPORTA=CODENTIDAD FROM CODIGEAN WHERE NIT=@CODALTERNO

			SELECT @TVEN=TIPOVTA FROM TRADE WHERE ORIGEN='FAC' AND TIPODCTO=@PREFIJO AND NRODCTO=@DCTO 
			SELECT @LPRE=CODRUTA FROM MTPROCLI WHERE NIT=@NIT

			IF @FECHA<>@FECHAVTO
				BEGIN
					SELECT @DESFECH1=dateadd(DAY,dias,@FECHA) FROM DESCFINA WHERE TIPOVTA=@TVEN AND LISTAP=@LPRE
					SELECT @DESC1=DESCUENTO FROM DESCFINA WHERE TIPOVTA=@TVEN AND LISTAP=@LPRE
					SELECT @VALFECH1=@TOTALFACTURA-((@VALORBRUTO*@DESC1)/100)
					--SET @DESFECH1=@FECH1

					SELECT @DESFECH2=DATEADD(DAY,DIAS2,@FECHA) FROM DESCFINA WHERE TIPOVTA=@TVEN AND LISTAP=@LPRE
					SELECT @DESC2=DESCUENTO2 FROM DESCFINA WHERE TIPOVTA=@TVEN AND LISTAP=@LPRE
					SELECT @VALFECH2=@TOTALFACTURA-((@VALORBRUTO*@DESC2)/100)
					--SET @DESFECH2=CONVERT(varchar,@FECH2,120)
			
					SELECT @DESFECH3=DATEADD(DAY,DIAS3,@FECHA) FROM DESCFINA WHERE TIPOVTA=@TVEN AND LISTAP=@LPRE
					SELECT @DESC3=DESCUENTO3 FROM DESCFINA WHERE TIPOVTA=@TVEN AND LISTAP=@LPRE
					SELECT @VALFECH3=@TOTALFACTURA-((@VALORBRUTO*@DESC3)/100)
					--SET @DESFECH3=CONVERT(varchar,@FECH3,120)

					SELECT @DESFECH4=DATEADD(DAY,DIAS4,@FECHA) FROM DESCFINA WHERE TIPOVTA=@TVEN AND LISTAP=@LPRE
					SELECT @DESC4=DESCUENTO4 FROM DESCFINA WHERE TIPOVTA=@TVEN AND LISTAP=@LPRE
					SELECT @VALFECH4=@TOTALFACTURA-((@VALORBRUTO*@DESC4)/100)
					--SET @DESFECH4=CONVERT(varchar,@FECH4,120)

					SELECT @DESFECH5=DATEADD(DAY,DIAS5,@FECHA) FROM DESCFINA WHERE TIPOVTA=@TVEN AND LISTAP=@LPRE
					SELECT @DESC5=DESCUENTO5 FROM DESCFINA WHERE TIPOVTA=@TVEN AND LISTAP=@LPRE
					SELECT @VALFECH5=@TOTALFACTURA-((@VALORBRUTO*@DESC5)/100)
					--SET @DESFECH5=CONVERT(varchar,@FECH5,120)
				END
			ELSE
				BEGIN
					SET @DESFECH1=@FECHA
					SET @VALFECH1=@TOTALFACTURA
					SET @DESFECH2=@FECHA
					SET @VALFECH2=@TOTALFACTURA
					SET @DESFECH3=@FECHA
					SET @VALFECH3=@TOTALFACTURA
					SET @DESFECH4=@FECHA
					SET @VALFECH4=@TOTALFACTURA
					SET @DESFECH5=@FECHA
					SET @VALFECH5=@TOTALFACTURA
				END

			IF @TRM>0
				BEGIN
					SELECT @CONPAGO=CPAGO FROM TRADEMAS WHERE ORIGEN='FAC' AND TIPODCTO=@PREFIJO AND NRODCTO=@DCTO
					SELECT @OTROS=TNEGO FROM TRADEMAS WHERE ORIGEN='FAC' AND TIPODCTO=@PREFIJO AND NRODCTO=@DCTO
					SELECT @NOTA2=PARAN FROM TRADEMAS WHERE ORIGEN='FAC' AND TIPODCTO=@PREFIJO AND NRODCTO=@DCTO
					SELECT @VALFECH1=KBRUT FROM TRADEMAS WHERE ORIGEN='FAC' AND TIPODCTO=@PREFIJO AND NRODCTO=@DCTO
					SELECT @VALFECH2=KNETO FROM TRADEMAS WHERE ORIGEN='FAC' AND TIPODCTO=@PREFIJO AND NRODCTO=@DCTO
					SELECT @VALFECH3=NCAJA FROM TRADEMAS WHERE ORIGEN='FAC' AND TIPODCTO=@PREFIJO AND NRODCTO=@DCTO
				END
			IF @PREFIJO='FR'
				BEGIN
					SET @PREFIJO='FA'
				END

				--SET @CODMONEDA = 'USD'
				IF @TIPOMONEDA = 'O'
				BEGIN 
					SET @CODMONEDA = 'COP'
					set @TIPMONEDA = 'COP'
				END
				--SELECT @CLIENTE=NOMBRE FROM MTPROCLI WHERE NIT=@NIT1
			--	SELECT @DIRECCION=DIRECCION,@telefono=tel1 FROM MTPROCLI WHERE NIT=@NIT1

			  BEGIN 
                IF @prefijo ='NC'
                    BEGIN 
                        SET @ordencompra =''
                    END 
            END 
			


			/*******************************CODIGO POS********************************/

			IF @PREFIJO IN ('01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22')
			BEGIN  SET @VALORBRUTO= @VALORBRUTO- @VALORDESCUENTO END

			/*************************************************************************/

			-- modificacion 05-02-2021 --
			SET @SEGUROS = @RETENCIONIVA
			SET @TOTALFACTURA = @TOTALFACTURA+@RETENCIONIVA
			SET @RETENCIONIVA = 0
			-- fin modificacion 05-02-2021 --

			if @NIT1='20101796532'
			begin 
			set @IDCLASE='42'
			eND

			
		declare @restafechas int 
		set @restafechas =DATEDIFF(day,@FECHA,@FECHAVTO)
		declare @fechadian date
		set @fechadian=getdate()
		if @FECHA<@fechadian begin set @FECHA=GETDATE() set @FECHAVTO=@FECHA+@restafechas end
	--	if @folio='59292' begin set @VALORBRUTO='8839500' set @EXENTO='681500' end

	set @CODVEN=@VENDEDOR
	--IF @FOLIO=17 BEGIN SET @VALORBRUTO=0 SET @VALORIVA='4736890.44' SET @TOTALFACTURA='29667893' END

	----TOMA DE MEDIO DE PAGO PARA LOS DOCUMENTOS POS---
	IF @PREFIJO IN ('01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22')
	 SET @CONPAGO=ISNULL(@CONPAGO,'') 
	  SET @otros=ISNULL(@otros,'') 

	SELECT @cuadre1=IDMVCUADRE FROM MVCUADRE WHERE TIPODCTO=@PREFIJO AND DCTO=@FOLIO 
	SELECT @mediodepago1=MEDIOPAG FROM MVCUADRE WHERE TIPODCTO=@PREFIJO AND DCTO=@FOLIO 
	SET @NOTAS=NULL
	SET @mediodepago2=NULL
	SELECT @mediodepago2=MEDIOPAG FROM MVCUADRE WHERE TIPODCTO=@PREFIJO AND DCTO=@FOLIO AND IDMVCUADRE<>@cuadre1
	SET @mediodepago2=ISNULL(@mediodepago2,'') 
	SELECT @CONPAGO=descripcio from MTMEDPAG WHERE MEDIOPAG=@mediodepago1
	SELECT @NOTAS=descripcio from MTMEDPAG WHERE MEDIOPAG=@mediodepago2
	set @TOTALFACTURA=@exento + @VALORBRUTO + @VALORIVA ---coloco esta formaula para hacer el respectivo xml
	SET @NOTAS=ISNULL(@NOTAS,'') 
	--- TERMINA MEDIO DE PAGO PARA LOS DOCUMENTOS POS---
            INSERT INTO @tmp_Cabeza (PREFIJO,FOLIO,FECHA,FECHAVTO,NIT,CLIENTE,EXENTO,VALORBRUTO,VALORIVA,VALIMPOCONSU,VALORICA,RETENCIONFUENTE,RETENCIONIVA, 
                TOTALFACTURA,TASADESCUENTO,VALORDESCUENTO,ACTIVIDAD,DIRECCION,TELEFONO,CELULAR,CIUDAD,DEPARTAMENTO,PAIS,CONTACTO,TASAIVA,TASAICA,TASARETENFUENTE, 
                CONPAGO,CREFEDOC,CREFETD,CREFDETA,CFECREFD,CREFERE2,REFDTE,CODREF,EMAILCLIENTE,NOTAS,VENDEDOR,ORDENCOMPRA,ORDENPEDIDO,CCOSTO,SUBCOSTO,REMISION,CONTRATO, 
                TIPMONEDA,TRM,DIGITADOR,RUTAVISUAL,CXC,SEGUROS,FLETES,USDVALORBRUTO,USDVALORIVA,USDVALIMPOCONSU,USDVALORICA,USDRETENCIONFUENTE,USDRETENCIONIVA, 
                USDTOTALFACTURA,USDSEGUROS,USDFLETES,DIRECCIONDESDPACHO,TITTOTAL,TITFLETES,TITSEGUROS,EMBARCADOR,MODOTRANSPORTE,PUERTOEMBARQUE,PAISORIGEN,PUERTODESTINO, 
                PAISDESTNO,OTROS,NOTA2,CODPAIS,CODPOSTAL,CODALTERNO,REGSIMP,unidaddtefacil,codigoempresa,ORIGEN,IDADJUNTOS,CARTERA,ZONAPUNTO,SALDOANT,CONECTOR,ENVIADOA,TRANSPORTA, 
                PLAZO,D1FECHA1,CODVEN,D2FECHA2,DESPP,DESPP2,ZBRUTO,ZIVABRUTO,ZDESCUENTO,ZRETICA,ZRETIVA,CODMONEDA,TIPOMONEDA,TCAMBIOMM,IDCLASE,CODCIUDAD,RESPFISCAL,DESFECH1,VALFECH1,
				DESFECH2,VALFECH2,DESFECH3,VALFECH3,DESFECH4,VALFECH4,DESFECH5,VALFECH5,DESCPP,FECHAPP,VLRDESCPP) 
            VALUES 
                (@PREFIJO,@FOLIO,@FECHA,@FECHAVTO,@NIT1,@CLIENTE,@EXENTO,@VALORBRUTO,@VALORIVA,@VALIMPOCONSU,@VALORICA,@RETENCIONFUENTE,@RETENCIONIVA, 
                @TOTALFACTURA,@TASADESCUENTO,0,@ACTIVIDAD,@DIRECCION,@TELEFONO,@CELULAR,@CIUDAD,@DEPARTAMENTO,@PAIS,@CONTACTO,@TASAIVA,@TASAICA,@TASARETENFUENTE, 
                @CONPAGO,@CREFEDOC,@CREFETD,@CREFDETA,@CFECREFD,@CREFERE2,@REFDTE,@CODREF,@EMAILCLIENTE,@NOTAS,@VENDEDOR,@ORDENCOMPRA,@ORDENPEDIDO,@CCOSTO,@SUBCOSTO,@REMISION, 
                @CONTRATO,@TIPMONEDA,@TRM,@DIGITADOR,@RUTAVISUAL,@CXC,@SEGUROS,@FLETES,@USDVALORBRUTO,@USDVALORIVA,@USDVALIMPOCONSU,@USDVALORICA,@USDRETENCIONFUENTE, 
                @USDRETENCIONIVA,@USDTOTALFACTURA,@USDSEGUROS,@USDFLETES,@DIRECCIONDESDPACHO,@TITTOTAL,@TITFLETES,@TITSEGUROS,@EMBARCADOR,@MODOTRANSPORTE,@PUERTOEMBARQUE, 
                @PAISORIGEN,@PUERTODESTINO,@PAISDESTNO,@OTROS,@NOTA2,@CODPAIS,@CODPOSTAL,@NIT,@REGSIMP,@unidaddtefacil,@codigoempresa,'FAC',@IDADJUNTOS,@VALORDESCUENTO, 
            	@ZONAPUNTO,@SALDO,@CONECTOR,@ENVIADOA,@TRANSPORTA,@PLAZO,@D1FECHA1,@CODVEN,@D2FECHA2,@SUBTDPP,@SUBTDPP2,@ZBRUTO,@ZIVABRUTO,@ZDESCUENTO,@ZRETICA, 
            	@ZRETIVA,@CODMONEDA,@TIPOMONEDA,@TCAMBIOMM,@IDCLASE,@CODCIUDAD,@RESPFISCAL,@DESFECH1,@VALFECH1,@DESFECH2,@VALFECH2,@DESFECH3,@VALFECH3,@DESFECH4,@VALFECH4,@DESFECH5,@VALFECH5,
				0,'',0) 
            FETCH CURVCOMER INTO @PREFIJO,@DCTO,@FECHA,@FECHAVTO,@NIT,@CLIENTE,@EXENTO,@VALORBRUTO,@VALORIVA,@VALIMPOCONSU,@VALORICA,@RETENCIONFUENTE,@RETENCIONIVA,@TOTALFACTURA, 
            @TASADESCUENTO,@VALORDESCUENTO,@ACTIVIDAD,@DIRECCION,@TELEFONO,@CODCIIU,@CONTACTO,@TASAIVA,@CONPAGO,@CREFEDOC,@CREFETD,@CREFDETA,@CFECREFD,@CREFERE2,@REFDTE,@CODREF, 
            @NOTAS,@VENDEDOR,@ORDENCOMPRA,@CCOSTO,@SUBCOSTO,@REMISION,@CONTRATO,@TIPMONEDA,@TRM,@DIGITADOR,@RUTAVISUAL,@CXC,@SEGUROS,@FLETES,@USDVALORBRUTO, 
            @USDVALORIVA,@USDVALIMPOCONSU,@USDVALORICA,@USDRETENCIONFUENTE,@USDRETENCIONIVA,@USDTOTALFACTURA,@USDSEGUROS,@USDFLETES,@DIRECCIONDESDPACHO,@TITTOTAL,@TITFLETES, 
            @TITSEGUROS,@EMBARCADOR,@MODOTRANSPORTE,@PUERTOEMBARQUE,@PAISORIGEN,@PUERTODESTINO,@PAISDESTNO,@OTROS,@NOTA2,@PLAZO,@D1FECHA1,@CODVEN,@D2FECHA2,@XDESCUENTO 
			

        END 
        CLOSE CURVCOMER; 
        DEALLOCATE CURVCOMER; 
    RETURN 
END