USE intranet
GO
/****** Object:  User Adceda    Script Date: 22/05/2025 9:44:53 ******/
CREATE USER Adceda WITHOUT LOGIN WITH DEFAULT_SCHEMA=dbo
GO
ALTER ROLE db_owner ADD MEMBER Adceda
GO
/****** Object:  Table dbo.Acrlos$    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.Acrlos$(
	id float NULL,
	ndoc float NULL,
	papellido nvarchar(255) NULL,
	sapellido nvarchar(255) NULL,
	pnombre nvarchar(255) NULL,
	snombre nvarchar(255) NULL,
	cede nvarchar(255) NULL,
	cargo nvarchar(255) NULL,
	usuario nvarchar(255) NULL,
	email nvarchar(255) NULL,
	contra1 nvarchar(255) NULL,
	contra2 nvarchar(255) NULL,
	usuarioc nvarchar(255) NULL,
	fec_crea datetime NULL
) ON PRIMARY
GO
/****** Object:  Table dbo.controlu    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.controlu(
	id int IDENTITY(1,1) NOT NULL,
	usu nvarchar(50) NOT NULL,
	contra nvarchar(50) NOT NULL,
	idperfil int NOT NULL,
 CONSTRAINT PK_controlu PRIMARY KEY CLUSTERED 
(
	id ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON PRIMARY
) ON PRIMARY
GO
/****** Object:  Table dbo.cusuarios    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.cusuarios(
	id int IDENTITY(1,1) NOT NULL,
	ndoc nvarchar(50) NOT NULL,
	papellido nvarchar(50) NOT NULL,
	sapellido nvarchar(50) NOT NULL,
	pnombre nvarchar(50) NOT NULL,
	snombre nvarchar(50) NOT NULL,
	cede nvarchar(50) NOT NULL,
	cargo nvarchar(50) NOT NULL,
	usuario nvarchar(50) NOT NULL,
	email nvarchar(50) NOT NULL,
	contra1 nvarchar(50) NOT NULL,
	contra2 nvarchar(50) NOT NULL,
	usuarioc nvarchar(50) NOT NULL,
	fec_crea datetime NOT NULL
) ON PRIMARY
GO
/****** Object:  Table dbo.cusuariosi    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.cusuariosi(
	id int IDENTITY(1,1) NOT NULL,
	ndoc nvarchar(50) NOT NULL,
	papellido nvarchar(50) NOT NULL,
	sapellido nvarchar(50) NOT NULL,
	pnombre nvarchar(50) NOT NULL,
	snombre nvarchar(50) NOT NULL,
	cede nvarchar(50) NOT NULL,
	cargo nvarchar(50) NOT NULL,
	usuario nvarchar(50) NOT NULL,
	email nvarchar(50) NOT NULL,
	contra1 nvarchar(50) NOT NULL,
	contra2 nvarchar(50) NOT NULL,
	usuarioc nvarchar(50) NOT NULL,
	fec_crea datetime NOT NULL,
	fec_baja datetime NOT NULL,
	proceso nvarchar(50) NOT NULL,
	usuariom nvarchar(50) NOT NULL
) ON PRIMARY
GO
/****** Object:  Table dbo.pefilac    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.pefilac(
	id int IDENTITY(1,1) NOT NULL,
	desper nvarchar(50) NOT NULL,
 CONSTRAINT PK_pefilac_1 PRIMARY KEY CLUSTERED 
(
	id ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON PRIMARY
) ON PRIMARY
GO
/****** Object:  Table dbo.rapp    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.rapp(
	documento int NULL,
	ncompleto nvarchar(50) NULL,
	cargo nvarchar(50) NULL,
	area nvarchar(50) NULL,
	ccostos nvarchar(50) NULL,
	dependencia nvarchar(50) NULL,
	estado nvarchar(50) NULL,
	fecha date NULL,
	hora time(7) NULL,
	bodega nvarchar(50) NULL
) ON PRIMARY
GO
/****** Object:  Table dbo.rempleadosa    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.rempleadosa(
	id int IDENTITY(1,1) NOT NULL,
	documento varchar(256) NULL,
	ncompleto varchar(256) NULL,
	cargo varchar(256) NULL,
	departamento varchar(256) NULL,
	ccostos varchar(256) NULL,
	area varchar(256) NULL,
	estado varchar(256) NULL,
	fecha date NOT NULL,
	hora time(7) NOT NULL,
	bodega varchar(256) NULL
) ON PRIMARY
GO
/****** Object:  Table dbo.rempleadosi    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.rempleadosi(
	id int IDENTITY(1,1) NOT NULL,
	documento nvarchar(256) NOT NULL,
	ncompleto nvarchar(256) NOT NULL,
	cargo nvarchar(256) NOT NULL,
	departamento nvarchar(50) NOT NULL,
	ccostos nvarchar(256) NOT NULL,
	area nvarchar(256) NOT NULL,
	estado nvarchar(256) NOT NULL,
	fecha date NOT NULL,
	hora time(7) NOT NULL,
	bodega nvarchar(256) NOT NULL
) ON PRIMARY
GO
/****** Object:  Table dbo.rnoregistro    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.rnoregistro(
	id int IDENTITY(1,1) NOT NULL,
	documento nvarchar(256) NOT NULL,
	fecha date NOT NULL,
	hora time(7) NOT NULL,
	bodega nvarchar(256) NOT NULL
) ON PRIMARY
GO
/****** Object:  Table dbo.sede    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.sede(
	id int IDENTITY(1,1) NOT NULL,
	dessed nvarchar(50) NOT NULL,
 CONSTRAINT PK_sede PRIMARY KEY CLUSTERED 
(
	id ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON PRIMARY
) ON PRIMARY
GO
/****** Object:  Table dbo.tb_alma    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.tb_alma(
	id int IDENTITY(1,1) NOT NULL,
	idtb_torre int NOT NULL,
	estado nvarchar(50) NOT NULL,
	serial nvarchar(50) NOT NULL,
	placa nvarchar(50) NOT NULL,
	marca nvarchar(50) NOT NULL,
	model nvarchar(50) NOT NULL,
	capacidad nvarchar(50) NOT NULL,
	tecno nvarchar(50) NOT NULL,
	v_compra nvarchar(50) NOT NULL,
	fec_com datetime NOT NULL,
	fec_baja datetime NULL,
	depreci nvarchar(50) NOT NULL,
	observa text NULL,
	idctb_usu int NOT NULL,
 CONSTRAINT PK_tb_alma PRIMARY KEY CLUSTERED 
(
	id ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON PRIMARY
) ON PRIMARY TEXTIMAGE_ON PRIMARY
GO
/****** Object:  Table dbo.tb_almae    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.tb_almae(
	id int NOT NULL,
	idatb_usur int NOT NULL,
	estado nvarchar(50) NOT NULL,
	serial nvarchar(50) NOT NULL,
	placa nvarchar(50) NOT NULL,
	marca nvarchar(50) NOT NULL,
	model nvarchar(50) NOT NULL,
	capacidad nvarchar(50) NOT NULL,
	tecno nvarchar(50) NOT NULL,
	v_compra nvarchar(50) NOT NULL,
	fec_com datetime NOT NULL,
	fec_baja datetime NULL,
	deprecia int NOT NULL,
	observa text NULL,
	idctb_usu int NOT NULL
) ON PRIMARY TEXTIMAGE_ON PRIMARY
GO
/****** Object:  Table dbo.tb_chip    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.tb_chip(
	id int IDENTITY(1,1) NOT NULL,
	idtb_torre int NOT NULL,
	estado nvarchar(50) NOT NULL,
	serial nvarchar(50) NOT NULL,
	placa nvarchar(50) NOT NULL,
	marca nvarchar(50) NOT NULL,
	model nvarchar(50) NOT NULL,
	v_compra nvarchar(50) NOT NULL,
	fec_com datetime NOT NULL,
	fec_baja datetime NULL,
	deprecia nvarchar(50) NOT NULL,
	observa text NULL,
	idctb_usu int NOT NULL,
 CONSTRAINT PK_tb_chip PRIMARY KEY CLUSTERED 
(
	id ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON PRIMARY
) ON PRIMARY TEXTIMAGE_ON PRIMARY
GO
/****** Object:  Table dbo.tb_imp    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.tb_imp(
	id int IDENTITY(1,1) NOT NULL,
	idtb_area int NOT NULL,
	idatb_usu int NOT NULL,
	nombre nvarchar(50) NOT NULL,
	estado nvarchar(50) NOT NULL,
	serial nvarchar(50) NOT NULL,
	placa nvarchar(50) NOT NULL,
	marca nvarchar(50) NOT NULL,
	puer nvarchar(50) NOT NULL,
	tecno nvarchar(50) NOT NULL,
	sum nvarchar(50) NOT NULL,
	model nvarchar(50) NOT NULL,
	mac nvarchar(50) NOT NULL,
	ip nvarchar(50) NOT NULL,
	n_factura nvarchar(50) NOT NULL,
	idtb_emp int NOT NULL,
	color nvarchar(50) NOT NULL,
	v_compra nvarchar(50) NOT NULL,
	fec_com datetime NOT NULL,
	fec_baja datetime NULL,
	deprecia int NOT NULL,
	observacion text NULL,
	idctb_usu int NOT NULL,
 CONSTRAINT PK_tb_imp PRIMARY KEY CLUSTERED 
(
	id ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON PRIMARY
) ON PRIMARY TEXTIMAGE_ON PRIMARY
GO
/****** Object:  Table dbo.tb_moni    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.tb_moni(
	id int IDENTITY(1,1) NOT NULL,
	idtb_torre int NULL,
	idatb_usu int NOT NULL,
	estado nvarchar(50) NOT NULL,
	serial nvarchar(50) NOT NULL,
	placa nvarchar(50) NOT NULL,
	marca nvarchar(50) NOT NULL,
	modelo nvarchar(50) NOT NULL,
	tecno nvarchar(50) NOT NULL,
	puerto nvarchar(50) NOT NULL,
	v_compra nvarchar(50) NOT NULL,
	n_factura nvarchar(50) NOT NULL,
	idtb_emp int NOT NULL,
	fec_com datetime NOT NULL,
	fec_baja datetime NULL,
	deprecia int NOT NULL,
	observacion text NULL,
	idctb_usu int NOT NULL,
 CONSTRAINT PK_tb_moni PRIMARY KEY CLUSTERED 
(
	id ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON PRIMARY
) ON PRIMARY TEXTIMAGE_ON PRIMARY
GO
/****** Object:  Table dbo.tb_mouse    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.tb_mouse(
	id int IDENTITY(1,1) NOT NULL,
	idtb_torre int NOT NULL,
	estado nvarchar(50) NOT NULL,
	serial nvarchar(50) NOT NULL,
	placa nvarchar(50) NOT NULL,
	marca nvarchar(50) NOT NULL,
	modelo nvarchar(50) NOT NULL,
	tecno nvarchar(50) NOT NULL,
	puerto nvarchar(50) NOT NULL,
	vcompra nvarchar(50) NULL,
	nfactura nvarchar(50) NOT NULL,
	idtb_emp nvarchar(50) NOT NULL,
	fec_com datetime NOT NULL,
	fec_baja datetime NULL,
	deprecia int NOT NULL,
	observacion nvarchar(50) NULL,
	idctb_usu int NOT NULL,
 CONSTRAINT PK_tb_mouse PRIMARY KEY CLUSTERED 
(
	id ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON PRIMARY
) ON PRIMARY
GO
/****** Object:  Table dbo.tb_peris    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.tb_peris(
	id int IDENTITY(1,1) NOT NULL,
	idtb_area int NOT NULL,
	idatb_usu int NOT NULL,
	tipo nvarchar(50) NOT NULL,
	estado nvarchar(50) NOT NULL,
	serial nvarchar(50) NOT NULL,
	placa nvarchar(50) NOT NULL,
	marca nvarchar(50) NOT NULL,
	model nvarchar(50) NOT NULL,
	tecno nvarchar(50) NOT NULL,
	puer nvarchar(50) NOT NULL,
	n_factura nvarchar(50) NOT NULL,
	idtb_emp int NOT NULL,
	v_compra nvarchar(50) NOT NULL,
	fec_com datetime NOT NULL,
	fec_baja datetime NULL,
	deprecia int NOT NULL,
	observa text NOT NULL,
	idctb_usu int NOT NULL,
 CONSTRAINT PK_tb_peris PRIMARY KEY CLUSTERED 
(
	id ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON PRIMARY
) ON PRIMARY TEXTIMAGE_ON PRIMARY
GO
/****** Object:  Table dbo.tb_pro    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.tb_pro(
	id int IDENTITY(1,1) NOT NULL,
	idtb_torre int NOT NULL,
	estado nvarchar(50) NOT NULL,
	serial nvarchar(50) NOT NULL,
	placa nvarchar(50) NOT NULL,
	marca nvarchar(50) NOT NULL,
	model nvarchar(50) NOT NULL,
	tecno nvarchar(50) NOT NULL,
	speed nvarchar(50) NOT NULL,
	v_compra nvarchar(50) NOT NULL,
	n_factura nvarchar(50) NOT NULL,
	idtb_emp nvarchar(50) NOT NULL,
	fec_com datetime NOT NULL,
	fec_baja datetime NULL,
	deprecia int NOT NULL,
	obseva text NULL,
 CONSTRAINT PK_tb_pro PRIMARY KEY CLUSTERED 
(
	id ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON PRIMARY
) ON PRIMARY TEXTIMAGE_ON PRIMARY
GO
/****** Object:  Table dbo.tb_ram    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.tb_ram(
	id int IDENTITY(1,1) NOT NULL,
	idtb_torre int NOT NULL,
	estado nvarchar(50) NOT NULL,
	serial nvarchar(50) NOT NULL,
	placa nvarchar(50) NOT NULL,
	marca nvarchar(50) NOT NULL,
	tecno nvarchar(50) NOT NULL,
	formato nvarchar(50) NOT NULL,
	capacidad nvarchar(50) NOT NULL,
	slot int NOT NULL,
	bus nvarchar(50) NOT NULL,
	v_compra nvarchar(50) NOT NULL,
	fec_com datetime NOT NULL,
	fec_baja datetime NULL,
	deprecia int NOT NULL,
	observa text NULL,
	idctb_usu int NOT NULL,
 CONSTRAINT PK_tb_ram PRIMARY KEY CLUSTERED 
(
	id ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON PRIMARY
) ON PRIMARY TEXTIMAGE_ON PRIMARY
GO
/****** Object:  Table dbo.tb_red    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.tb_red(
	id int IDENTITY(1,1) NOT NULL,
	idtb_torre int NOT NULL,
	estado nvarchar(50) NOT NULL,
	serial nvarchar(50) NOT NULL,
	placa nvarchar(50) NOT NULL,
	marca nvarchar(50) NOT NULL,
	model nvarchar(50) NOT NULL,
	tecno nvarchar(50) NOT NULL,
	mac nvarchar(50) NULL,
	ip4 nvarchar(50) NULL,
	n_factura nvarchar(50) NOT NULL,
	idtb_emp int NOT NULL,
	duid nvarchar(50) NULL,
	ip6 nvarchar(50) NULL,
	puer nvarchar(50) NOT NULL,
	tipo nvarchar(50) NOT NULL,
	v_compra nvarchar(50) NOT NULL,
	fec_com datetime NOT NULL,
	fec_baja datetime NULL,
	depre nvarchar(50) NOT NULL,
	observa text NULL,
	idatb_usu int NOT NULL,
 CONSTRAINT PK_tb_red PRIMARY KEY CLUSTERED 
(
	id ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON PRIMARY
) ON PRIMARY TEXTIMAGE_ON PRIMARY
GO
/****** Object:  Table dbo.tb_tec    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.tb_tec(
	id int IDENTITY(1,1) NOT NULL,
	idtb_torre int NOT NULL,
	estado nvarchar(50) NOT NULL,
	serial nvarchar(50) NOT NULL,
	placa nvarchar(50) NOT NULL,
	marca nvarchar(50) NOT NULL,
	model nvarchar(50) NOT NULL,
	tecno nvarchar(50) NOT NULL,
	puer nvarchar(50) NOT NULL,
	v_compra nvarchar(50) NOT NULL,
	n_factura nvarchar(50) NOT NULL,
	idtb_emp int NOT NULL,
	fec_com datetime NOT NULL,
	fec_baja datetime NULL,
	deprecia int NOT NULL,
	observa text NULL,
	idctb_usu int NOT NULL,
 CONSTRAINT PK_tb_tec PRIMARY KEY CLUSTERED 
(
	id ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON PRIMARY
) ON PRIMARY TEXTIMAGE_ON PRIMARY
GO
/****** Object:  Table dbo.tb_tel    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.tb_tel(
	id int IDENTITY(1,1) NOT NULL,
	idatb_usu int NOT NULL,
	idatb_area int NOT NULL,
	idatb_cede int NOT NULL,
	nombre nvarchar(50) NOT NULL,
	estado nvarchar(50) NOT NULL,
	serial nvarchar(50) NOT NULL,
	placa nvarchar(50) NOT NULL,
	marca nvarchar(50) NOT NULL,
	model nvarchar(50) NOT NULL,
	portatil nvarchar(50) NOT NULL,
	v_compra nvarchar(50) NOT NULL,
	n_factura nvarchar(50) NOT NULL,
	idtb_emp int NOT NULL,
	fec_com datetime NOT NULL,
	fec_baja nchar(10) NULL,
	deprecia nchar(10) NOT NULL,
	observa text NULL,
	idctb_usu int NOT NULL,
 CONSTRAINT PK_tb_tel PRIMARY KEY CLUSTERED 
(
	id ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON PRIMARY
) ON PRIMARY TEXTIMAGE_ON PRIMARY
GO
/****** Object:  Table dbo.tb_torre    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.tb_torre(
	id int IDENTITY(1,1) NOT NULL,
	idatb_usu int NOT NULL,
	idatb_area int NOT NULL,
	idatb_cede int NOT NULL,
	nombre nvarchar(50) NOT NULL,
	estado nvarchar(50) NOT NULL,
	serial nvarchar(50) NOT NULL,
	placa nvarchar(50) NOT NULL,
	marca nvarchar(50) NOT NULL,
	model nvarchar(50) NOT NULL,
	idtb_so int NOT NULL,
	portatil nvarchar(50) NOT NULL,
	v_compra nvarchar(50) NOT NULL,
	n_factura nvarchar(50) NOT NULL,
	idtb_emp int NOT NULL,
	fec_com datetime NOT NULL,
	fec_baja nchar(10) NULL,
	deprecia nchar(10) NOT NULL,
	observa text NULL,
	idctb_usu int NOT NULL,
 CONSTRAINT PK_tb_torre PRIMARY KEY CLUSTERED 
(
	id ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON PRIMARY
) ON PRIMARY TEXTIMAGE_ON PRIMARY
GO
/****** Object:  Table dbo.visitantes    Script Date: 22/05/2025 9:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE dbo.visitantes(
	id int IDENTITY(1,1) NOT NULL,
	ndocumneto int NOT NULL,
	prapellido nvarchar(256) NOT NULL,
	seapellido nvarchar(256) NOT NULL,
	prnombre nvarchar(256) NOT NULL,
	senombre nvarchar(256) NULL,
	sexo nchar(10) NOT NULL,
	nacimiento date NOT NULL,
	rh nchar(10) NOT NULL,
	empresa nvarchar(256) NOT NULL,
	cargov nvarchar(256) NOT NULL,
	telcel nvarchar(50) NOT NULL,
	email nvarchar(256) NOT NULL,
	contactoi nvarchar(256) NOT NULL,
	tecelcon nvarchar(50) NOT NULL,
	empleadoa nvarchar(256) NOT NULL,
	cargoe nvarchar(50) NOT NULL,
	areaa nvarchar(50) NOT NULL,
	fechaingv date NOT NULL,
	horainv time(7) NOT NULL,
	fichaa int NOT NULL
) ON PRIMARY
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla de almacenamineto de datos para unidades de almacenamineto interno' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_alma'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'tabal de datos de almcenaminto de dispositivos de almacenamineto externos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_almae'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla de datos del chip set de la board' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_chip'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla de datos de la impresora' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_imp'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla de monitores' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_moni'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla de datos de los mouse' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_mouse'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla de datos de perifericos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_peris'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabal de datos del procesador' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_pro'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla de datos que contiene la informcin de las tarjetas ram' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_ram'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla de datos de la tarjeta de red' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_red'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'tabla de datos de teclados' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_tec'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla de informacion sobre los telefonos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_tel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla de informcion sobre las torres' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tb_torre'
GO
